<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        [v-clock]{
            display:none;
        }
    </style>
    <script src="../JS/Vue-2.6.11.js"></script>
    <link rel="stylesheet" href="../CSS/bootstrap-3.3.7.css">
</head>
<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>Id:&nbsp<input type="text" class="form-control" v-model="id"></label>
                <label>Name:&nbsp<input type="text" class="form-control" v-model="name" @keydown.enter="add"></label>
                <!--在 Vue 中使用事件绑定机制,为元素指定处理函数的时候,如果加上了小括号,就表示可以给该事件函数传递参数了-->
                <input type="button" value="添加" class="btn btn-primary" @click="add">
                <label>搜索名称关键字:&nbsp<input type="text" autocomplete=off class="form-control" v-model="keywords" id="search" v-focus v-color="'green'"></label>
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!--业务逻辑：
                    1.之前,v-for 中的数据,都是直接从 data 上的 list 中直接渲染过来的,现在,我们定义了一个
                    search 方法,同时,把所有的关键字通过传参的形式,传递给了 search 方法
                    2.在 search 方法内部,通过执行 for 循环,把所有符合搜索关键字的数据保存到一个新的数组中并返回-->
                <tr v-for="item in search(keywords)" :key="item.id" v-click>
                    <td v-clock>{{item.id}}</td>
                    <td v-clock>{{item.name}}</td>
                    <td v-fontweight="900" v-clock>{{item.ctime | dateFormat("")}}</td>
                    <td><a href="" @click.prevent="del(item.id)" v-clock>删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        //定义全局过滤器,进行时间的格式化
        Vue.filter("dateFormat",function(dateStr,pattern){
            //根据给定的时间字符串,得到特定的时间
            let dt = new Date(dateStr);
            //得到时间的年/月/日
            let y = dt.getFullYear();
            let m = (dt.getMonth()+1).toString().padStart(2,"0");
            let d = dt.getDate().toString().padStart(2,"0");
            if(pattern.toLowerCase()=="yyyy-mm-dd"){
                return `${y}-${m}-${d}`;
            }else{
                let hh = dt.getHours().toString().padStart(2,"0");
                let mm = dt.getMinutes().toString().padStart(2,"0");
                let ss = dt.getSeconds().toString().padStart(2,"0");
                return `${y}-${m}-${d}  ${hh}:${mm}:${ss}`;
            }
        })
        //自定义全局指令： v-search 指令,该指令用于页面一刷新搜索框就会获取焦点
        Vue.directive("focus",{
            inserted:function(el){
                el.focus();
            }
        })
        //自定义全局指令：v-color 指令,该指令用于设置搜索框中的字体颜色
        Vue.directive("color",{
            bind:function(el,binding){
                el.style.color=binding.value;
            }
        })
        let vm = new Vue({
            el:"#app",
            data:{
                id:"",
                name:"",
                keywords:"",
                list:[
                    {id : 1 , name : "奔驰" ,ctime : new Date()},
                    {id : 2 , name : "宝马" ,ctime : new Date()},
                    {id : 3 , name : "奥迪" ,ctime : new Date()},
                    {id : 4 , name : "路虎" ,ctime : new Date()},
                    {id : 5 , name : "丰田" ,ctime : new Date()},
                    {id : 6 , name : "现代" ,ctime : new Date()},
                    {id : 7 , name : "本田" ,ctime : new Date()},
                    {id : 8 , name : "江淮" ,ctime : new Date()},
                    {id : 9 , name : "海马" ,ctime : new Date()},
                    {id : 10, name : "布加迪",ctime : new Date()},
                ]
            },
            methods:{
                //这是 add 添加的方法
                add(){
                    /*
                    业务逻辑：
                    * 1.获取到 id 和 name , 直接从 data 上面获取
                    * 2.组织出一个对象
                    * 3.把这个对象,调用数组相关的方法,添加到当前 data 上的 list 中
                    * 4.注意：在 Vue 中,已经实现了数据的双向绑定,每当我们修改了 data 中的数据,
                    *   Vue 会默认监听到数据的改变,并自动把最新的数据,应用到页面上。
                    */
                    if(this.id&&this.name!=""){
                        let car = {id :this.id,name:this.name,ctime:new Date()};
                        this.list.push(car);
                        this.id=this.name="";
                    }else{
                        return false;
                    }
                },
                //这是 del 删除的方法
                del(id){
                    /*
                    * 业务逻辑：
                    * 1.根据 id 找到要删除这一项的索引
                    * 2.找到索引后直接调用数组的 splice 方法
                    */
                    //第一种删除操作
                    /*this.list.some((item,i)=>{
                        if(item.id==id){
                            this.list.splice(i,1);
                            //在数组的 some 方法中,如果 return true,就会立即终止数组的后续操作
                            return true;
                        }
                    })*/
                    //第二种删除操作
                    let index = this.list.findIndex(item => {
                        if(item.id==id){
                            return true;
                        }
                    })
                    this.list.splice(index,1);
                },
                //根据关键字进行数据的搜索操作
                search(keywords){
                    //第一种操作方式
                    /*let newList=[];
                    this.list.forEach(item=>{
                        if(item.name.indexOf(keywords)!=-1){
                            newList.push(item)
                        }
                    })
                    return newList;*/
                    //第二种操作方式
                    let newList = this.list.filter(item=>{
                        //该 includes 方法是 es6 中提出的,释义：如果包含,则返回 true,否则返回 false
                        if(item.name.includes(keywords)){
                            return item;
                        }
                    })
                    return newList;
                }
            },
            //自定义私有(局部)指令
            directives:{
                'fontweight':{
                    bind:function(el,binding){
                        el.style.fontWeight=binding.value;
                    }
                }
            }
        })
    </script>
</body>
</html>